<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GeodataStyrelsen.ArcMap.PlaceFinder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <GeodataStyrelsen.ArcMap.PlaceFinder.Properties.Settings>
            <setting name="smallestAllowedZoomToInMetersOnX" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="smallestAllowedZoomToInMetersOnY" serializeAs="String">
                <value>150</value>
            </setting>
        </GeodataStyrelsen.ArcMap.PlaceFinder.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
