<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeodataStyrelsen.ArcMap.PlaceFinder.Interface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GeodataStyrelsen.ArcMap.PlaceFinder.Interface.Properties.Settings>
            <setting name="EPSGCode" serializeAs="String">
                <value>25832</value>
            </setting>
            <setting name="Loginname" serializeAs="String">
                <value>PlaceFinder</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>PlaceFinder!1</value>
            </setting>
            <setting name="ReturnLimit" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Url" serializeAs="String">
                <value>https://kortforsyningen.kms.dk/Geosearch?type=json&amp;search={0}&amp;resources={1}&amp;limit={2}&amp;login={3}&amp;password={4}&amp;crs={5}</value>
            </setting>
        </GeodataStyrelsen.ArcMap.PlaceFinder.Interface.Properties.Settings>
    </userSettings>
</configuration>