<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GeodataStyrelsen.ArcMap.PlaceFinder.Interface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GeodataStyrelsen.ArcMap.PlaceFinder.Interface.Properties.Settings>
            <setting name="Token" serializeAs="String">
                <value>f563925e76daf2f18f77f58ccef4180a</value>
            </setting>
            <setting name="ReturnLimit" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Url" serializeAs="String">
                <value>https://api.dataforsyningen.dk/rest/gsearch/v1.0/{0}?token={1}&amp;q={2}&amp;limit={3}</value>
            </setting>
            <setting name="ESPGCode" serializeAs="String">
                <value>25832</value>
            </setting>
        </GeodataStyrelsen.ArcMap.PlaceFinder.Interface.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
